streamlit==1.38.0
cohere==5.9.2
css==0.1
nltk==3.9.1
openai==0.28.0
plotly==5.24.1
PyPDF2==3.0.1
requests==2.32.3
transformers==4.44.2
langchain==0.3.0
langchain-text-splitters==0.3.0
pandas==2.2.3
Werkzeug==3.0.4
